<div class="container">
  <p>Total for <%= Date.today.strftime("%B") %>:
  <%= number_to_currency(@total) %></p>

  <h5>My last six ads booked</h5>
  <%= render 'partials/ad_table', ads: @ads %>

</div>
